<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
    {{content.number}}번 게시물
    <br>

    <h2>제목 : {{ content.title }}</h2>

    <h4>내용 : {{ content.contents}}</h4>
    {% if content.last_edit %}
    <p>최근 수정일자 : {{content.last_edit}}</p>
    {% endif %}
    <p>문서 작성일자 : {{content.date_joined}}</p>
    <p><a href="{% url 'edit' content.number %}">수정하기</a>&nbsp&nbsp<a href="{% url 'delete' content.number %}">삭제하기</a></p>
    <a href="{% url 'board' %}"><br> 뒤로가기 </a>
</body>
<script>
    {% if alert %}
    alert('본인의 게시물만 수정할 수 있습니다')
    {% endif %}
</script>
</html>