<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1>회원가입</h1>
</div>
    <form method="post" action="{%url 'signup'  %}" class="was-validated">
      {% csrf_token %}

    <div class="col-lg-10">
      <label for="name" class="col-lg-2 control-label">Username:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter username" name="name" required autofocus>
      <input type="button" id="button1" onclick="button1_click();" value="중복 체크" />

         <script>
            function button1_click() {
                alert("이미 존재하는 ID 입니다.");
            }
         </script>

      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">필수항목 입니다.</div>
    </div>

    <div class="col-lg-10">
      <label for="pwd" class="col-lg-2 control-label">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">필수항목 입니다.</div><br>
    </div>

    <div class="col-lg-10">
      <label for="email" class="col-lg-2 control-label" >Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        <div class="invalid-feedback">필수항목 입니다.</div><br>
    </div>

    <div class="form-group" id="divPhoneNumber">
        <label for="inputPhoneNumber" class="col-lg-2 control-label">휴대폰 번호</label>
        <div class="col-lg-10">
            <input type="tel" class="form-control onlyNumber" id="phone_number" name ="phone_number" data-rule-required="true" placeholder="-를 제외하고 숫자만 입력하세요." maxlength="11" required>
            <div class="invalid-feedback">필수항목 입니다.</div><br>
        </div>
    </div>

    <div align="center">
        <script type="text/javascript">

            function setDisplay(){  //클릭 이벤트
               if($('input:radio[id=Customer]').is(':checked')){
                    $('#kakao_id').show();
                    $('#company_name').hide();
                }else{
                    $('#company_name').show();
                    $('#kakao_id').hide();
                }
            }


        </script>

        <h4>TYPE 선택 : </h4>
        <input type="radio" name="type" id = "Business" value="Business" onchange="setDisplay()" /> Business
        <input type="radio" name="type" id = "Customer" value="Customer" onchange="setDisplay()" checked="checked" onclick="view()" /> Customer <br><br>

        <div id = "kakao_id">
            <H6>KaKao ID : </H6>
            <input type="text" name="kakao_id" >
        </div>
        <div id= "company_name" style="display:none">
            <H6>사업자 번호 : </H6>
            <input type="text" name="company_name" >
            <H6>사업장 이름 : </H6>
            <input type="text" name="business_num" >
        </div>




    </div>

    <div class="form-group form-check" align="center">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" required> 회원가입에 동의합니다.
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Check this checkbox to continue.</div>
      </label>
    </div>

    <div align="center">
    <button type="submit"  class="btn btn-primary">Sign Up</button>
    <a href="{% url 'home' %}" class="btn btn-info" role="button">Home</a>
    </div>
  </form>


</div>
    <script>
            $(".onlyNumber").keyup(function(event){
            if (!(event.keyCode >=37 && event.keyCode<=40)) {
                var inputVal = $(this).val();
                $(this).val(inputVal.replace(/[^0-9]/gi,''));
            }
        });

    </script>

</body>
</html>